/* CSS-fil for Knapper */
/* Struktur
Hovedklasse .button med standard verdier typ marginer, cursor osv...
Subklasse for størrelser;button--xs/sm/l
Subklasse for knappestørrelser for ikonknapper
Subklasse for ikonstørrelser
Subklasse primary
    - hover
    - active
    - normal
Subklasse secondary
    - samme attributter som primary
Subklasse tertiary
    - samme attributter som primary

Disabled
Focus
*/

:root{
    --icon-button-padding-xs: 0.5rem;
    --icon-button-padding-sml: 1rem;
    --button-tertiary-background: var(--white); /* Burde denne vært transparent?*/
}

/* Hovedklasse*/
.button{
    background: none; 
    border: none;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0.5rem;
    font-family: 'Mulish', 'sans-serif';
    font-weight: 700;
    /*box-sizing: border-box;  Flyttet denne til main, og satt den på html-elementet, slik blir det konsekvent box-sizing hele veien*/

    /*display: inline-flex;  Display bør om nødvendig settes der knappen brukes. */
    /*justify-items: center; Tror ikke vi trenger disse tre, ser ingen forskjell når jeg fjerner de*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

/* Fokus */
.button:focus-visible{
    outline: var(--blue_dark) solid;
    outline-offset: 0.313rem;
    outline-width: var(--focus-outline);
}
/* Disabled */
.button:disabled{
    background-color: var(--gray_light);
    color: var(--gray_dark);
    outline-style: solid;
    outline-color: var(--gray_dark);
}

/******************* 
  Knappestørrelser 
********************/
.button--xs{
        width: fit-content;
        height: 2.5rem;
        padding: var(--padding-button--xs);
        font-size: 1rem;
        line-height: 1.5rem;
}

.button--sm{
    width: fit-content;
    height: 3.5rem;
    padding: var(--padding-button--s-m-l);
    /* h3--x-small*/
    font-size: 1rem;
    line-height: 1.5rem;
}

.button--l{
    width: fit-content;
    height: 4rem;
    padding: var(--padding-button--s-m-l);
    font-size: 1.125rem;
    line-height: 2rem;
}

/***********************
 Primær-pog sekundærsett
************************/
/* BUTTON PRIMARY*/
.button__green--primary{
    background-color: var(--green_dark);
    color: var(--white); /* Setter tekstfarge */
}
.button__green--primary:hover{
    background-color: var(--green);
    color: var(--white);
}
.button__green--primary:active{
    background-color: var(--green_active);
    color: var(--white);
}


.button__blue--primary{
    background-color: var(--blue);
    color: var(--white);
}
.button__blue--primary:hover{
    background-color: var(--blue_hover);
    color: var(--black);
}
.button__blue--primary:active{
    background-color: var(--blue_dark);
    color: var(--white);
}



/* BUTTON SECONDARY*/
.button__green--secondary{
    background-color: var(--white);
    color: var(--green_dark);
    outline-style: solid;
    outline-color: var(--green_dark);
}
.button__green--secondary:hover{
    background-color: var(--green);
    color: var(--white);
    outline: none;
}
.button__green--secondary:active{
    background-color: var(--green_active);
    color: var(--white);
    outline: none;
}


.button__blue--secondary{
    background-color: var(--white);
    color: var(--blue);
    outline-style: solid;
    outline-color: var(--blue);
}
.button__blue--secondary:hover{
    background-color: var(--blue_hover);
    color: var(--black);
    outline: none;
}
.button__blue--secondary:active{
    background-color: var(--blue_dark);
    color: var(--white);
    outline: none;
}


/* BUTTON TERTIARY */
.button__green--tertiary{
    background-color: var(--button-tertiary-background);
    color: var(--green_dark);
}
.button__green--tertiary:hover{
    background-color: var(--button-tertiary-background);
    color: var(--green_dark);
    text-decoration: underline var(--green_dark);
}
.button__green--tertiary:active{
    background-color: var(--button-tertiary-background);
    color: var(--green_active);
}


.button__blue--tertiary{
    background-color: var(--button-tertiary-background);
    color: var(--blue);
}
.button__blue--tertiary:hover{
    background-color: var(--button-tertiary-background);
    color: var(--blue_dark); /*Er denne fargen riktig? Det er ikke konsekvent med den grønne, og jeg mistenker at den grønne er riktig. For å få det konsekvent skal det være --blue her.*/
    text-decoration: underline var(--blue_dark);
}
.button__blue--tertiary:active{
    background-color: var(--button-tertiary-background);
    color: var(--blue_dark);
}


/*BUG: får ikke fjernet underline på <span>-element ved hover.
Løst ved å sette underline-farge lik bakgrunnsfargen på knappen*
Edit Bente: Jeg får ikke denne feilen selv om jeg fjerner denne koden/
/*.button__blue--tertiary:hover .material-symbols-outlined{*/
/*    text-decoration:underline var(--button-tertiary-background);*/
/*}*/
/*.button__green--tertiary:hover .material-symbols-outlined{*/
/*    text-decoration:underline var(--button-tertiary-background);*/
/*}*/

/*************************************
klasser for knapper med ikon. hvilken side ikonet skal være ift teksten.
*************************************/
/*Vi bruker ikke egne klasser for dette. Hvilken side ikonet står på avgjøres av markup (det blir stående der det er plassert i markupen)*/
/*.button--icon-left{*/
/*    flex-direction: row-reverse;*/
/*}*/
/*.button--icon-right{*/
/*    flex-direction: row;*/
/*}*/


/*************************************
  Styling av ikonet som er i en knapp
*************************************/

/* IKON-style (i knapp): xs-venstre*/
.button--xs.button--icon-left > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-xs);
    height: var(--icon-height-xs);
    padding: 0 var(--icon-button-padding-xs) 0 0;
}
/* IKON-style (i knapp): xs-høyre*/
.button--xs.button--icon-right > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-xs);
    height: var(--icon-height-xs);
    padding: 0 0 0 var(--icon-button-padding-xs);
    /*z-index: 2; Z-index har ingen effekt her, fjernes.*/
}
/* IKON-style (i knapp): sml-høyre*/
.button--sm.button--icon-right > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 0 0 var(--icon-button-padding-sml);
}
.button--l.button--icon-right > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 0 0 var(--icon-button-padding-sml);
}

/* IKON-style (i knapp): sml-venstre*/
.button--sm.button--icon-left > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 var(--icon-button-padding-sml) 0 0 ;
}
.button--l.button--icon-left > span.material-symbols-outlined{
    font-size: var(--icon-fontSize-sml);
    height: var(--icon-height-sml);
    padding: 0 var(--icon-button-padding-sml) 0 0 ;
}


