.result__content__container {
  display: flex;
  width: 300px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.result__content__desc {
  position: relative;
  padding: 2px 16px;
  width: 100%;
}

.result__image {
  width: 40%;
}

.result__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}

.result__desc {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 4px;
}
