.changeBaseLayer {
  z-index: 16;
  position: absolute;
  bottom: 25px;
  right: 19px;
  min-width: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 1px 1px 3px 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: white;
  .btn {
    padding: 3px;
  }
}

.baseMapPanel {
  padding-top: 10px;
  background-color: white;
}

.baseLayerPanel {
  padding: 5px;
  button:first-child {
    margin-left: 0;
  }
  button {
    margin-left: 5px;
  }
}

.baseMap {
  width: 50px;
  height: 0;
  background-size: cover;
  padding: 0;
  padding-bottom: calc(50px * 4 / 4);
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.baseMap-land {
  background-image: url('../assets/land.png');
}
.baseMap-raster {
  background-image: url('../assets/raster.png');
}
.baseMap-aerial {
  background-image: url('../assets/aerial.png');
}
.baseMap-grey {
  background-image: url('../assets/grey.png');
}

.activeBtn {
  background-color: #e87722;
  color: white;
}
