/*Huske å fjerne css som ikke er i bruk!*/

.collapsible_container {
    width: 400px;
}

.collapsible {
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-bottom: var(--black) 1px solid;
}

.active {
    background-color: var(--white);
}

.collapsible:hover {
    background-color: var(--gray_light);
}

.collapsible:after {
    content: '\002B';
    color: var(--black);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--white);
}
