/* farger */

:root {
  /*groenn*/
  --green_active: #05502a;
  --green_dark: #156630;
  --green: #1a833b;
  --green_light: #d0ecd6;

  /*Blaa*/
  --blue_dark: #175092;
  --blue: #1a589f;
  --blue_light: #e4f1f8;
  --blue_hover: #439ccd;
  --blue_dark_button: #213060;

  /*roed og rosa*/
  --red_error_message: #a32f00;
  --red_dark: #d04a14;
  --pink: #f7e6eb;

  /*oransje og gul*/
  --orange: #fcf1e8;
  --yellow: #ffdd9d;
  --yellow_light: #fcebcd;

  /*svart og hvit*/
  --black: #222222;
  --white: #ffffff;

  /*graa*/
  --gray_dark: #505050;
  --gray: #707070;
  --gray_light: #f5f2f2;
}
