/*Bruk klasser på dette, i tilfelle prosjektene vil bruke details-elementet til noe annet i tillegg*/
.details__container {
    width: 50%;
}

.expandable .expandable__title {
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid black;
    position: relative;
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    list-style: none;
}

.expandable .expandable__title {
    outline: 0;
}
.expandable p {
    font-size: 0.95rem;
    margin: 0 0 1rem;
    padding-top: 1rem;
}

.expandable__title:focus {
   outline: var(--blue_dark) 2px solid;
}

.expandable__title::before,
.expandable__title::after {
    width: 0.75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: black;
    text-align: right;
    transform: translateY(-50%);
    transition: transform 0.2s ease-in-out;
}

.expandable__title:hover {
    background-color: var(--gray_light);
}

.expandable__title::after {
    transform: translateY(-50%) rotate(90deg);
}

[open] .expandable__title::after {
    transform: translateY(-50%) rotate(180deg);
}

.expandable .expandable__title::-webkit-details-marker {
    display: none;
}
