/* farger */

:root {
  /*svart og hvit*/
  --svart: #222222;
  --hvit: #ffffff;

  /*graa*/
  --graa_moerk: #505050;
  --graa: #707070;
  --graa_lys: #f5f2f2;

  /*Blaa*/
  --blaa_moerk: #175092;
  --blaa: #1a589f;
  --blaa_lys: #e4f1f8;
  --blaa_hover: #439ccd;
  --blaa_moerk_knapp: #213060;

  /*groenn*/
  --groenn_moerk: #05520a;
  --groenn_standard: #156630;
  --groenn_hover: #1a833b;
  --groenn_lys: #d0ecd6;

  /*roed og rosa*/
  --roed_feilmelding: #a32f00;
  --roed_moerk: #d04a14;
  --rosa: #f7e6eb;

  /*oransje og gul*/
  --oransje: #fcf1e8;
  --gul: #ffdd9d;
  --gul_lys: #fcebcd;
}
