.nav__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px;

    /*position: absolute;*/
    height: 64px;
    left: calc(50% - 375px/2 - 3021.5px);
    top: 20px;

    /* Kartverket: Hvit */
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/*Ankermeny*/

.anker--xs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;

    /*position: absolute;*/
    width: 88px;
    height: 40px;
    left: 125px;
    top: 0;
}

.anker--s {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;

    /*position: absolute;*/
    width: 101px;
    height: 48px;
    left: 125px;
    top: 51px;
}

.anker--m {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 16px;

    /*position: absolute;*/
    width: 101px;
    height: 48px;
    left: 125px;
    top: 104.5px;
}

.anker--l {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 8px;
    gap: 16px;

    /*position: absolute;*/
    width: 101px;
    height: 64px;
    left: 125px;
    top: 152.5px;
}

/*Ikon størrelse*/

.anker--xs span {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 20
}

.anker--s span {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

.anker--m span {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 40
}

.anker--l span {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
}

/*link styling*/

.anker--xs a,
.anker--s a,
.anker--m a,
.anker--l a {
    text-decoration: none;
    color: var(--black);
}
