:root {
  --input--height: 2.5rem;
  --input--margin-bottom: 2rem;
}

.inputField__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.inputField__wrapper label {
  color: var(--gray_dark);
}

.inputField {
  display: block;
  width: 100%;
  height: var(--input--height);
  padding: 0.5rem;
  border: 0.063rem solid var(--blue_dark_button);
  box-sizing: border-box;
  background: #ffffff;
  transition: linear, 0.2s linear;
  font-family: inherit;
  border-radius: 0.25rem;
}

.inputField:focus-visible {
  border: var(--blue_dark) 2px solid;
  outline: none;
}

.inputField:required {
  border: var(--red_error_message) 0.063rem solid;
}

input[required] + label:after {
  content: '*';
  color: var(--red_error_message);
}

.exclamation {
  position: absolute;
  top: 24px;
  right: 0;
  width: 25px;
  height: 40px;
  background: var(--red_error_message);
  color: var(--white);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.exclamation i {
  position: absolute;
  top: 8px;
}

input[type='text']:focus-visible:active {
  border-color: var(--blue_hover);
  box-shadow: 0 0 0 0.125rem var(--blue_hover);
}

input[type='text']:focus-visible {
  border-color: var(--blue_dark);
  box-shadow: 0 0 0 0.125rem var(--blue_dark);
}

input[type='text']:required:focus-visible {
  border-color: var(--red_error_message);
  box-shadow: 0 0 0 0.125rem var(--red_error_message);
}

input[type='text']:required:active {
  border-color: var(--red_error_message);
  box-shadow: 0 0 0 0.125rem var(--red_error_message);
}

input[type='text']:disabled {
  background: var(--gray_light);
  color: var(--gray_dark);
  border-color: var(--gray);
}
