:root{
    --inputHeight: 2.5rem;
}
/*error-ikon i inputfelt*/
.exclamation{
    width: 1.25rem;
    height: var(--inputHeight);
    background: var(--roed_feilmelding);
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border: none;
    color: #fff;
    line-height: 2.375rem;
    position: absolute;
    right: 0rem;
    text-align: center;

}

/*input-labels*/
.input-label {
    display: block;
    margin: 0.75rem 0;
    /*margin-bottom: 0.5rem;*/
}
.input-label--error {
    color: var(--roed_feilmelding);
}
.input-label--error:after {
    content: "*";
    color: var(--roed_feilmelding);
}

/*Normal input*/
input[type=text].input {
    width: 100%;
    height: var(--inputHeight);
    padding: 0.75rem 1.25rem;
    display: inline-flex;
    border: 0.063rem solid var(--blaa_moerk_knapp);
    border-radius: 0.25rem;
    box-sizing: border-box;
    background: #FFFFFF;
    transition: linear, 0.2s linear;
}

input[type=text].input:focus-visible:active {
    border-color: var(--blaa_hover);
    box-shadow: 0 0 0 0.125rem var(--blaa_hover);
}

input[type=text].input:focus-visible {
    outline: var(--blaa_moerk) solid;
}


/*Error input*/
input[type=text].input__error:invalid {
    border-color: var(--roed_feilmelding);
}

input[type=text].input__error:invalid:focus-visible {
    outline: var(--roed_feilmelding) solid;
}

input[type=text].input__error:invalid:active {
    outline: var(--roed_feilmelding) solid;
}

.inputError-container{
    width: 100%;
    position: relative;
    height: calc(var(--inputHeight)+ 0.5rem);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: nowrap;
}



input[type=text].input__disabled:disabled {
    background: var(--graa_lys);
    color: var(--graa_moerk);
    border-color: var(--graa);
}

/*Tekstfelt hjelpetekst*/
/* .helper-text{
    position: relative;
    display: block;
    font-size: 0.875rem;
    font-style: inherit;
    color: var(--svart); /* Sjekk figma etterpå
    z-index: 1;
} */

/*deaktivert input*/
