.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.ol-map {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.ol-zoom {
  top: 12px;
  left: auto;
  right: 16px;
}
.ol-geolocation {
  bottom: auto;
  left: auto;
  right: 16px;
  top: 100px;
  z-index: 13;
}
.ol-rotate {
  display: none;
}
.ol-control {
  position: absolute;
  border-radius: 4px;
  padding: 2px;
}
.ol-control button {
  background: var(--blue_dark);
  color: var(--white);

  opacity: 0.7;
  border: 2px solid var(--dark_blue_button);
  border-radius: 0.125rem;
  display: block;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 2px;
  width: 2.625rem;
  height: 2.625rem;
}
.ol-control button:hover {
  background-color: var(--blue_hover);
}
.ol-control button:active {
  background-color: var(--dark_blue_button);
}
.ol-popup {
  position: absolute;
  background-color: var(--white);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: var(--white);
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: '✖';
}
.search-pin-icon {
  background-image: url('../assets/location_on-24px.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px;
  height: 50px;
  width: 50px;
}
.draw-btn {
  position: absolute;
  top: 220px;
  right: 20px;
  background-color: #175092;
  color: var(--white);
  height: 40px;
  border-radius: 10px;
}
.ol-scale-line {
  bottom: 25px;
  left: 50%;
  position: absolute;
}
.ol-scale-line-inner {
  position: absolute;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  border-color: var(--black);
  border-style: solid;
  border-width: 0 2px 2px 2px;
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  padding: 2px 0;
  text-align: center;
}
.ol-mouse-position {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  padding: 0 5px 0 5px;
  cursor: inherit;
  background-color: var(--white);
  color: var(--gray_dark);
  opacity: 0.9;
  border-radius: 1px;
  z-index: 99;
}
