.logo-overlay {
  z-index: 12;
  // position: absolute;
  bottom: 0px;
  left: 19px;
  width: 105px;
}

.logo-kartverket {
  width: 100%;
  padding-bottom: calc(100% * 5 / 7);
  position: relative;
  bottom: 20px;
  background-image: url('../assets/KV_logo_staa.svg');
  background-repeat: no-repeat;
  height: 0;
  text-indent: -9999px;
  display: inline-block;
}

.norgeskart-logo {
  margin-left: 10px;
  margin-right: 10px;
  padding: 12px 45px 15px 5px;

  h1 {
    font-size: 22px;
    margin: 0;

    a {
      color: grey !important;
      .norgeskart-logo-image{
        background-image:url('../assets/Ikon_Kart_Norge_org36.png');
        height: 36px;
        width: 36px;
        display: inline-block;
        vertical-align:middle;
      }
    }
  }
}
/*
.logo-polar{
  width: 120px;
  padding-bottom: calc(100% * 5/7);
  position: relative;
  bottom:25px;
  background-image:url('../assets/img/logo-poloarinstitutt.svg');
  height: 107px;
  text-indent:-9999px;
  display: inline-block;
}
*/
