/* HovedCSS */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import 'colors.css';
@import 'buttons.css';
@import 'layout.css';
@import 'typography.css';
@import 'buttons.css';
@import 'input.css';
@import 'radiobutton.css';
@import 'checkbox.css';
@import 'icons.css';
@import 'slider.css';
@import 'zoom.css';
@import 'searchbar.css';
@import 'cards.css';
@import 'dropdown.css';
@import 'cards.css';
@import 'table.css';
@import 'progressbar.css';
@import 'circular_loader.css';
@import 'details.css';
@import 'button_toggle.css';
@import 'header.css';
@import 'tabs.css';
@import 'stepper.css';

/* spesific for ol-react-kart og ekstraktet fra norgeskart3 ( mulig at det ikke trengs i framtida ) */
@import 'kart.css';
@import 'logo.css';
@import 'sidenav';
@import 'components';
@import 'changebaselayer';
@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'mobile.css';
@import 'mobileLandscape.css';

/* kan eventuellt fjeneres */
@import 'utils.css';

searchbar__wrapper {
  min-width: 40rem;
}
.search-result {
  background-color: var(--blue_light); /* to be removed/changed */
}
.search-result-list {
  max-height: 30rem;
  overflow-y: auto;
}
.search-result-list-item {
  background-color: var(--gray_light); /* to be removed/changed */
}
.search-icon {
  background-color: var(--green);
  color: var(--hvit);
}
.search-icon:hover {
  background-color: var(--groenn_hover);
}

.search-icon:active {
  background-color: var(--groenn_moerk);
}

/* Align fixes for material-icons */
.projectlist-item {
  display: flex;
  align-items: center;
}
.menu-icon {
  display: flex;
  align-items: center;
}

/* bootstrap start */
.btn:focus {
  outline: 0 !important;
}

.btn-toggle {
  background-color: var(--green);
  color: var(--white);
}

.btn-default.focus,
.btn-default:focus {
  background-color: var(--blue_hover);
  color: var(--black);
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-color: var(--blue_dark);
  color: var(--white);
}

.btn-default:hover {
  background-color: var(--blue_hover);
  color: var(--black);
}

.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  border-color: #d2d2d2;
  background-color: #d2d2d2;
  color: var(--white);
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  background-color: var(--blue_hover);
  color: var(--black);
}

.btn-toggle.focus,
.btn-toggle:focus {
  background-color: var(--green_active);
  color: var(--white);
  outline: none;
}

.btn-toggle.active,
.btn-toggle:active,
.open > .dropdown-toggle.btn-toggle {
  background-color: var(--green_dark);
  color: var(--white);
  outline: none;
}

.btn-toggle:hover {
  background-color: var(--green_active);
  color: var(--white);
  outline: none;
}

.btn-toggle.disabled.focus,
.btn-toggle.disabled:focus,
.btn-toggle.disabled:hover,
.btn-toggle[disabled].focus,
.btn-toggle[disabled]:focus,
.btn-toggle[disabled]:hover,
fieldset[disabled] .btn-toggle.focus,
fieldset[disabled] .btn-toggle:focus,
fieldset[disabled] .btn-toggle:hover {
  background-color: var(--green_active);
  color: var(--white);
  outline: none;
}

.btn-toggle.active.focus,
.btn-toggle.active:focus,
.btn-toggle.active:hover,
.btn-toggle:active.focus,
.btn-toggle:active:focus,
.btn-toggle:active:hover,
.open > .dropdown-toggle.btn-toggle.focus,
.open > .dropdown-toggle.btn-toggle:focus,
.open > .dropdown-toggle.btn-toggle:hover {
  background-color: var(--green_active);
  color: var(--white);
  outline: none;
}

.btn-active {
  background-color: var(--green_dark);
  color: var(--white);
  outline: none;
}
input:focus-visible {
  outline: none;
}
/* bootstrap end */
.no-display {
  display: none !important;
}
.pointInfo {
  max-height: 30rem;
  overflow-y: auto;
}

/* Fix material-icons not centered  */
.material-icons-outlined {
  line-height: inherit;
}

.inputField {
  padding: 1rem;
}

.pointer-cursor{
  cursor: pointer;
}

/* test kvib fixes */

.progressbar::after {
  animation: load 5s infinite;
  background: #213060;
}

@keyframes load {
  0% {
    width: 0;
  }
  25% {
    width: 40%;
  }
  50% {
    width: 60%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.progressbar__label::after {
  content: '';
  animation: loading-label 5s infinite;
}

@keyframes loading-label {
  0% {
    content: '0%';
  }
  25% {
    content: '25%';
  }
  50% {
    content: '50%';
  }
  75% {
    content: '75%';
  }
  100% {
    content: '100%';
  }
}
