/* HovedCSS */

@import 'farger.css';
@import 'buttons.css';
@import 'layout.css';
@import 'typography.css';
@import 'buttons.css';
@import 'input.css';
@import 'radiobutton.css';
@import 'checkbox.css';
@import 'sliderbutton.css';
@import 'icons.css';
@import 'slider.css';
@import 'zoom.css';
@import 'searchbar.css';
@import 'cards.css';
@import 'cards.css';
@import 'table.css';

/* spesific for ol-react-kart og ekstraktet fra norgeskart3 ( mulig at det ikke trengs i framtida ) */
@import 'kart.css';
@import 'logo.css';
@import 'sidenav';
@import 'components';
@import 'changebaselayer';
@import 'bootstrap/dist/css/bootstrap.min.css';

/* kan eventuellt fjeneres */
@import 'utils.css';

/* Align fixes for material-icons */
.projectlist-item {
  display: flex;
  align-items: center;
}
.menu-icon {
  display: flex;
  align-items: center;
}

/* bootstrap start */
.btn:focus {
  outline: 0 !important;
}

.btn-important {
  background-color: #2c98bb;
  color: white;
  border-color: transparent;
}

.btn-ordinary {
  background-color: #eaeaea;
  color: #333;
  border-color: transparent;
}

.btn-toggle {
  background-color: #f7d3b8;
  color: #333;
  border-color: transparent;
}

.btn-default.focus,
.btn-default:focus {
  background-color: #5e7c99;
  border-color: transparent;
  color: white;
}

.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-color:#7da1c4;
  border-color: transparent;
  color: white;
}

.btn-default:hover {
  background-color:#2c98bb;
  border-color: transparent;
  color: white;
}

.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  border-color:#d2d2d2;
  background-color:#d2d2d2;
  color: white;
}

.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: white;
  border-color: transparent;
  background-color:#7da1c4;
}

.btn-ordinary.focus,
.btn-ordinary:focus {
  background-color:#d2d2d2;
  border-color: transparent;
  color: #333;
}

.btn-ordinary.active,
.btn-ordinary:active,
.open > .dropdown-toggle.btn-ordinary {
  background-color:#eaeaea;
  border-color: transparent;
  color: #333;
}

.btn-ordinary:hover {
  background-color:#d2d2d2;
  border-color: transparent;
  color: #333;
}

.btn-ordinary.disabled.focus,
.btn-ordinary.disabled:focus,
.btn-ordinary.disabled:hover,
.btn-ordinary[disabled].focus,
.btn-ordinary[disabled]:focus,
.btn-ordinary[disabled]:hover,
fieldset[disabled] .btn-ordinary.focus,
fieldset[disabled] .btn-ordinary:focus,
fieldset[disabled] .btn-ordinary:hover {
  border-color:#d2d2d2;
  background-color:#d2d2d2;
  color: white;
}

.btn-ordinary.active.focus,
.btn-ordinary.active:focus,
.btn-ordinary.active:hover,
.btn-ordinary:active.focus,
.btn-ordinary:active:focus,
.btn-ordinary:active:hover,
.open > .dropdown-toggle.btn-ordinary.focus,
.open > .dropdown-toggle.btn-ordinary:focus,
.open > .dropdown-toggle.btn-ordinary:hover {
  color: #333;
  border-color: transparent;
  background-color:#eaeaea;
}

.btn-toggle.focus,
.btn-toggle:focus {
  background-color:#e87722;
  border-color: transparent;
  color: white;
}

.btn-toggle.active,
.btn-toggle:active,
.open > .dropdown-toggle.btn-toggle {
  background-color:#f7d3b8;
  border-color: transparent;
  color: #333;
}

.btn-toggle:hover {
  background-color:#a06439;
  border-color: transparent;
  color: white;
}

.btn-toggle.disabled.focus,
.btn-toggle.disabled:focus,
.btn-toggle.disabled:hover,
.btn-toggle[disabled].focus,
.btn-toggle[disabled]:focus,
.btn-toggle[disabled]:hover,
fieldset[disabled] .btn-toggle.focus,
fieldset[disabled] .btn-toggle:focus,
fieldset[disabled] .btn-toggle:hover {
  border-color:#f7d3b8;
  background-color:#f7d3b8;
  color: #333;
}

.btn-toggle.active.focus,
.btn-toggle.active:focus,
.btn-toggle.active:hover,
.btn-toggle:active.focus,
.btn-toggle:active:focus,
.btn-toggle:active:hover,
.open > .dropdown-toggle.btn-toggle.focus,
.open > .dropdown-toggle.btn-toggle:focus,
.open > .dropdown-toggle.btn-toggle:hover {
  color: #333;
  border-color: transparent;
  background-color:#f7d3b8;
}

.btn-active {
  background-color:#e87722;
  color: white;
}
/* bootstrap end */

.pointInfo {
  max-height: 30rem;
  overflow-y: auto;
}
