/* HovedCSS */

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import 'colors.css';
@import 'buttons.css';
@import 'layout.css';
@import 'typography.css';
@import 'buttons.css';
@import 'input.css';
@import 'radiobutton.css';
@import 'checkbox.css';
@import 'icons.css';
@import 'slider.css';
@import 'zoom.css';
@import 'searchbar.css';
@import 'cards.css';
@import 'dropdown.css';
@import 'cards.css';
@import 'table.css';
@import 'progressbar.css';
@import 'circular_loader.css';
@import 'details.css';
@import 'button_toggle.css';
@import 'header.css';
@import 'tabs.css';
@import 'stepper.css';

/* spesific for ol-react-kart og ekstraktet fra norgeskart3 ( mulig at det ikke trengs i framtida ) */
@import 'kart.css';
@import 'logo.css';
@import 'sidenav';
@import 'components';
@import 'changebaselayer';
@import 'bootstrap/dist/css/bootstrap.min.css';

@import 'mobile.css';
@import 'mobileLandscape.css';

/* kan eventuellt fjeneres */
@import 'utils.css';

html {
  box-sizing: border-box;
}

searchbar__wrapper {
  min-width: 40rem;
}
.search-result-list {
  max-height: 30rem;
  overflow-y: auto;
}
.search-result-list-item {
  background-color: var(--gray_light); /* to be removed/changed */
}

/* Align fixes for material-icons */
.projectlist-item {
  display: flex;
  align-items: center;
}
.menu-icon {
  display: flex;
  align-items: center;
}

/* bootstrap start */
.toggle {
  background-color: var(--green);
  color: var(--white);
}

/* bootstrap end */
.no-display {
  display: none !important;
}
.pointInfo {
  max-height: 30rem;
  overflow-y: auto;
}

/* Fix material-icons not centered  */
.material-icons-outlined {
  line-height: inherit;
}

.inputField {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.reset__button {
  position: absolute;
  right: 5rem;
  top: 0px;
  cursor: pointer;
}

.infopanel {
  background-color: var(--white);
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}
.info {
  width: 40rem;
}
.searchbar {
  min-width: 40rem;
}
.pointer-cursor {
  cursor: pointer;
}

/* test kvib fixes */

.progressbar::after {
  animation: load 5s infinite;
  background: #213060;
}

@keyframes load {
  0% {
    width: 0;
  }
  25% {
    width: 40%;
  }
  50% {
    width: 60%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

.progressbar__label::after {
  content: '';
  animation: loading-label 5s infinite;
}

@keyframes loading-label {
  0% {
    content: '0%';
  }
  25% {
    content: '25%';
  }
  50% {
    content: '50%';
  }
  75% {
    content: '75%';
  }
  100% {
    content: '100%';
  }
}
