.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.radio label {
    position: relative;
    display: inline-block;

    padding-left: 2rem;
}

.radio label::before,
.radio label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

.radio label::before{
    height: 1rem;
    width: 1rem;

    border: 0.125rem solid;
    border-radius: 1rem;
    left: 0;
    color: var(--blue_dark);

    top: 0.188rem;
}

.radio label::after {
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 50%;
    border: 0.125rem solid;

    left: 0.313rem;
    top: 0.5rem;
}

/*Hide checkmark by default*/
.radio input[type="radio"] + label::after {
    content: none;
}

.radio input[type="radio"]:hover + label::before {
    cursor: pointer;
}

/*set checkmark on checked state*/
.radio input[type="radio"]:checked + label::after {
    content: "";
    color: var(--blue_dark);
    background-color: var(--blue_dark);
}

/*change background color of checkbox on checked state*/
.radio input[type="radio"]:checked + label::before {
    background-color: var(--white);
}

/*Adding focus styles on outer-box*/
.radio input[type="radio"]:focus-visible + label::before {
    outline: max(0.188rem, 0.15em) solid var(--blue_dark);
    outline-offset: 0.125rem;
}

/* ----CHECKBOX ERROR----*/
/*set background on the checked state*/
.radio input[type="radio"]:required:invalid + label::before {
    color: var(--red_error_message);
}


.radio input[type="radio"]:required:invalid + label::after {
    content: "";
    color: var(--red_error_message);
    background-color: var(--red_error_message);
}

/*Adding focus styles on the outer-box*/
.radio input[type="radio"]:focus-visible:invalid + label::before {
    outline: max(0.188rem, 0.15em) solid var(--red_error_message);
    outline-offset: 0.125rem;
}
