/*css-klasser for å style søkeknappen i søkefelt. SØkefelt bruker også klasser fra input.css*/
.button__searchbar {
  background-color: var(--green_dark);
  color: var(--white);
  height: var(--inputHeight);
  width: 3rem;
  border-radius: 0 0.25rem 0.25rem 0;
  margin: 0;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 25px;
}

.button__searchbar:hover {
  background-color: var(--green);
}

.button__searchbar:active {
  background-color: var(--green_active);
}

.button__searchbar:focus-visible {
  outline-offset: 0;
}

.button__searchbar span {
  position: relative;
}

.searchbar__wrapper {
  position: relative;
  align-items: center;
}
