/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 16; /* Stay on top */
  top: 0;
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px; /* Place content 60px from the top */
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}
.side-menu-position {
  position: static;
}
/* The navigation menu links */
.sidenav div div {
  padding: 0.4rem 0.6rem;
}
.circle {
  border-radius: 50%;
  color: var(--blaa_lys);
  text-align: center;
  background: #ffffff;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 8px 3px 8px;
}
