/* DENNE KODEN HAR BUGS


.sliderbutton label {
    position:relative;
    display:inline-flex;
    width:32px;
    height:12px;
    background:var(--blaa_lys);
    border: 1px solid var(--blaa_moerk_knapp);
    box-sizing: border-box;
    cursor:pointer;
    border-radius:8px;
    transition:all 300ms ease-in-out;
  }
  .sliderbutton label:after {
    content:"";
    position:absolute;
    width:16px;
    height:16px;
    background:var(--blaa_moerk_knapp);
    top:50%;
    left:-1px;
    transform:translateY(-50%);
    border-radius:50%;
    transition:all 300ms ease-in-out;
  }
  .sliderbutton input[type="checkbox"]:checked + label:after {
    left:calc(32px - 16px);
    background:var(--blaa_moerk_knapp);
  }
  
  .sliderbutton input:checked + label {
    background:var(--blaa_lys);
  }
  .sliderbutton input {
    display:none;
  }


 .sliderbutton--xs label {
    width:24px;
    height:8px;}

.sliderbutton--xs label:after {
    width:12px;
    height:12px;
  }

 .sliderbutton--xs input[type="checkbox"]:checked + label:after {
  left:calc(24px - 12px);
  }
  */