/* Style the tab */
.tab {
overflow: hidden;

}

.tab .tab__links {
    background-color: transparent;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    border: none;
}

.tab__links:hover {
    border-bottom: var(--blue_hover) 2px solid;
}

.tab__links:active {
    border-bottom: var(--blue) 2px solid;
}

.tab .active__link--demo {
    border-bottom: var(--blue) 2px solid;
}
