@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap'); /* Denne gir kun font-weight 700, som er for heading */
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap'); /* Denne gir font-weight 400 som er for body tekst */


html {
    font-family: 'Mulish', sans-serif;
  }
  
body {
    color: black ;
    font-style: normal;
  }

.underline{
    text-decoration-line: underline;
}

/*felles for headere*/
.heading {
    font-weight: 700;
}


/*h1-titles
h3-large*/
.heading__h1--xs, .heading__h3--l {
    font-size: 1.25rem;
    line-height: 2rem;
}

.heading__h1--s{
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.heading__h1--m{
    font-size: 2rem;
    line-height: 3rem;
}

.heading__h1--l{
    font-size: 2.25rem;
    line-height: 3rem;
}


/*h2-titles*/
.heading__h2--xs {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.heading__h2--s{
    font-size: 1.5rem;
    line-height: 2rem;
}

.heading__h2--m{
    font-size: 1.75rem;
    line-height: 2rem;
}
.heading__h2--l{ 
    font-size: 2rem;
    line-height: 2.5rem;
}

/*h3-titles*/
.heading__h3--xs {
    font-size: 1rem;
    line-height: 1.5rem;
}

/*brodtekst*/
.body-text{
    font-weight: 400;
}

.body-text--xs{
    font-size: 1rem;
    line-height: 1.5rem;
}

/*klasse for h3-størrelser (small, medium)
 klasse for brodtekst-størrelser (small, meidum,large*/
.body-text--sml, .heading__h3--sm{
    font-size: 1.125rem;
    line-height: 2rem;
}

/*label og beskrivende tekst*/    

.label, .detail{
    font-weight: 400;
    line-height: 1.5rem;
}

.label--xs, .detail--xs{
    font-size: 0.75rem;  
} 

/*label og beskrivende tekst, str. small,medium, large*/  
.label--sml, .detail--sml{
    font-size: 0.875rem;
}

