:local(.selected) {
  max-height: 0;
  overflow: hidden;
  transition: 0.1s all ease-in-out;

  div {
    padding: 2px 0;
    > label {
      padding: 0 4px;
    }
  }
  &:local(.open) {
    max-height: 80000px;
  }
}
:local(.ellipsisToggle) {
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  position: relative;
  top: 4px;
  margin-right: 4px;
  font-weight: 600;
  white-space: nowrap;
}
:local(.expandBtn) {
  margin-bottom: 10px;

  &:hover {
    cursor: pointer;
  }
}
